footer {
  grid-area: footer;
  background-image: linear-gradient(#6420aa, #5e1675);
  height: 4vh;
  color: white;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
}

.container-footer {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  letter-spacing: 3px;
}

@media (width < 780px) {
  .container-footer {
    font-size: 0.7rem;
  }
}
