main {
  grid-area: main;
  background-color: #f2f2f2;
  height: 88vh;
  width: 90vw;
}

.contenedor-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.item-1 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-2 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-3 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-5 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-item {
  background-color: white;
  width: 90%; /* Valor 50% */
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 10px black;
  cursor: pointer;
}

.item-1 > div {
  background-image: url(../img/sasuke_wallpaper_4k.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.item-1 > div:hover {
  filter: saturate(30%);
  transform: scale(1.02);
}

.item-2 > div {
  background-image: url(../img/wallpaper-yugi.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.item-2 > div:hover {
  filter: saturate(30%);
  transform: scale(1.02);
}

.item-3 > div {
  background-image: url(../img/ash-ketchum-pikachu-3840x2160-10890.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.item-3 > div:hover {
  filter: saturate(30%);
  transform: scale(1.02);
}

.item-4 > div {
  background-image: url(../img/giratina_wallpaper_pokemon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.item-4 > div:hover {
  filter: saturate(30%);
  transform: scale(1.02);
}

.item-5 > div {
  background-image: url(../img/black-dialga-fanart-x1etz14kaqzrjarh.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.item-5 > div:hover {
  filter: saturate(30%);
  transform: scale(1.02);
}

.item-6 > div {
  background-image: url(../img/sasuke\ wallpaper.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.item-6 > div:hover {
  filter: saturate(30%);
  transform: scale(1.02);
}

@media (width < 768px) {
  .contenedor-main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .item-2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .item-3 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .item-4 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .item-5 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  .item-6 {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
  }

  .con-item {
    box-shadow: 1px 1px 10px 4px black;
  }

  .item-1 > div {
    background-position: center 22%;
  }

  .item-2 > div {
    background-position: center 13%;
  }

  .item-3 > div {
    background-position: center 40%;
  }

  .item-4 > div {
    background-position: center 30%;
  }

  .item-5 > div {
    background-position: center 10%;
  }

  .item-6 > div {
    background-position: center 50%;
  }
}
